.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn-container button {
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

.btn h6 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .btn-icon-container {
        width: 70px;
        height: 70px;
    }

    .btn h6 {
        font-size: 18px;
    }
}